:root{
    --brand-light-tint: #F1F7ED;
    --brand-slate-green: #2F667F;
}
.library-container{
    /* border: 1px solid red; */
    height: 833px;
    width: 75%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.library-content{
    /* border: 2px solid purple; */
    background-color: var(--brand-light-tint);
    padding: 5px 30px;
}
.library-content p{
    color: var(--brand-slate-green);
    font-family: Poppins;
text-align: center;
font-size: 15.705px;
font-style: normal;
font-weight: 500;
}