:root {
  --brand-light-tint: #f1f7ed;
  --brand-slate-green: #2f667f;
}
.library-container {
  height: 833px;
  width: 75%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.library-content {
  background-color: var(--brand-light-tint);
  padding: 5px 30px;
}
.library-content p {
  color: var(--brand-slate-green);
  font-family: Poppins;
  text-align: center;
  font-size: 15.705px;
  font-style: normal;
  font-weight: 500;
}
