:root {
  --brand-slate-green: #2f667f;
}

.analytics-content {
  /* border: 1px solid purple; */
  display: flex;
  height: 833px;
  padding-top: 106.667px;
  flex-direction: column;
  align-items: flex-start;
  gap: 35.556px;
  flex: 1 0 0;
  padding-left: 30px;
}
.dashboard-buttons {
  width: 60%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 9.833px;
  margin-top: 10px;
}
#create,
#share,
#select,
#compare {
  display: flex;
  height: 39.334px;
  width: fit-content;
  justify-content: center;
  align-items: center;
  gap: 7.867px;
  border-radius: 98.335px;
  text-align: center;
  font-family: Poppins;
  font-size: 17.7px;
  font-style: normal;
  font-weight: 500;
  line-height: 19.667px;
  padding: 5px 20px;
}
#create {
  cursor: pointer;
  background: var(--brand-slate-green);
  color: var(--M3-sys-light-on-primary, #fff);
}
#share {
  cursor: pointer;
  border: 0.983px solid var(--light-tint-dark-active, #6c6f6b);
  color: var(--brand-slate-green, #2f667f);
}
#select,
#compare {
  border: 0.983px solid var(--light-tint-dark-active, #6c6f6b);
  color: var(--light-tint-dark-active, #6c6f6b);
}
#create:hover,
#share:hover {
  transform: translateY(-1px);
  box-shadow: 0px 3.556px 3.556px 0px rgba(0, 0, 0, 0.25);
}
.graph-container {
  display: flex;
  width: 70%;
  justify-content: space-between;
}
.graph {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: flex-start;
  width: 207.823px;
  height: 134.334px;
  box-shadow: 0px 3.556px 3.556px 0px rgba(0, 0, 0, 0.25);
  border-radius: 12px;
  opacity: 0;
  position: relative;
  margin-top: 5px;
}

#one {
  background-color: #539cbb9f;
}
#two {
  background-color: #055f59c6;
}
#three {
  background-color: #fff;
}
#four {
  background-color: #ff4f52;
}
.showGraphs {
  opacity: 1;
  transition: 2s ease;
}
.graph-title {
  color: #fff;
  font-family: Poppins;
  font-size: 12.643px;
  font-style: normal;
  font-weight: 600;
  line-height: 19.755px;
  letter-spacing: 0.395px;
  text-transform: uppercase;
  z-index: 1;
  padding: 0px 20px;
  margin-bottom: 0px;
}
.graph-about {
  color: #d9eaff;
  font-family: Poppins;
  font-size: 9.482px;
  font-style: normal;
  font-weight: 500;
  line-height: 11.853px;
  z-index: 1;
  padding: 0px 20px;
  margin-top: 0px;
}

.graph-image {
  position: absolute;
  bottom: 0px;
  border-radius: inherit;
}

.graph-value {
  color: #fff;
  font-family: Poppins;
  font-size: 23.706px;
  font-style: normal;
  font-weight: 500;
  line-height: 27.657px;
  z-index: 1;
  padding: 0px 20px;
  margin-top: 6px;
  margin-bottom: 0px;
}

#three .graph-title,
#three .graph-about,
#three .graph-value,
#three .graph-percentage {
  color: black;
}

.graph-percentage {
  color: #fff;
  font-family: Poppins;
  font-size: 11.063px;
  font-style: normal;
  font-weight: 500;
  line-height: 15.804px;
  z-index: 1;
  padding: 0px 20px;
  margin-top: 0px;
}

.graph-currency {
  color: #ffeeb2;
  font-family: Poppins;
  font-size: 9.482px;
  font-style: normal;
  font-weight: 500;
  line-height: 11.853px;
  z-index: 1;
  padding: 0px 20px;
  margin-top: 0px;
}
#one .graph-currency {
  color: #d9eaff;
}
#three .graph-currency {
  color: #939699;
}
#four .graph-currency {
  color: #ffc4c9;
}
.analytics-cards {
  display: flex;
  align-items: flex-start;
  gap: 50.807px;
}
.card {
  display: flex;
  height: 193.445px;
  padding: 0px 15px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 3.242px;
  border-radius: 10px;
  background: #fff;
  box-shadow: 0px 3.556px 3.556px 0px rgba(0, 0, 0, 0.25);
  opacity: 0;
  position: relative;
}
.showCards {
  opacity: 1;
  transition: 8s ease;
}
.card-title {
  display: flex;
  width: 246.4px;
  padding-bottom: 10.807px;
  align-items: center;
  gap: 10.807px;
  margin-top: 0px;
  color: #000;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 21.614px;
}

.card-icon {
  position: absolute;
  right: 32.541px;
  top: 28.58px;
}
.card-icon p {
  font-size: 18px;
  margin: 0px;
}
.icon-green {
  color: #26d75a;
}
.icon-red {
  color: #ff6e66;
}
.card-achieved,
.card-total,
.card-percentage {
  width: 235.66px;
  display: flex;
  justify-content: space-between;
}
.description,
.value {
  color: #000;
  font-family: Poppins;
  font-size: 15.13px;
  font-style: normal;
  font-weight: 300;
  line-height: 21.614px;
  margin-top: 3px;
  margin-bottom: 0px;
}
.value {
  text-align: right;
  font-weight: 600;
}

.analytics-table {
  /* border: 1px solid black; */
  width: 90%;
  box-shadow: 0px 3.556px 3.556px 0px rgba(0, 0, 0, 0.25);
  opacity: 0;
}

.accordion-heading {
  display: flex;
  align-items: center;
  color: #262d33;
  font-size: 10.832px;
  font-style: normal;
  font-weight: 700;
  line-height: 15.474px;
  letter-spacing: 0.387px;
  text-transform: uppercase;
}

.table-header-title,
.table-header-value {
  color: #262d33;
  text-align: right;
  font-family: Poppins;
  font-size: 13.832px;
  font-style: normal;
  font-weight: 500;
  line-height: 15.474px;
}

.table-header-value {
  font-size: 15.926px;
  line-height: 23.211px;
  font-weight: 600;
}

.reverse {
  text-align: start;
}
.period-container {
  display: flex;
  /* border: 1px solid black; */
  gap: 10px;
}
.period-button-container {
  width: max-content;
  height: 23.211px;
  display: flex;
  border: 1px solid #d9dadb;
  border-radius: 8px;
}
.period-button-container button,
select {
  cursor: pointer;
  width: fit-content;
  height: 23.211px;
  padding: 3px 6px;
  flex-shrink: 0;
  color: #4b5157;
  text-align: center;
  font-family: Poppins;
  font-size: 13.832px;
  font-style: normal;
  font-weight: 500;
  line-height: 15.474px;
}
.period-button-container button:hover {
  background-color: #a2d2fc;
}

select {
  width: fit-content;
  color: #939699;
  height: 28px;
  flex-shrink: 0;
  border-radius: var(--size-0, 3.868px);
  border: var(--size-0, 0.774px) solid #d9dadb;
  background: #fff;
}

.showTable {
  opacity: 1;
  transition: 12s ease;
}
